/* pages/user/login/login.wxss */


.page {
  padding: 16px;
  .logo {
    font-size: 30px;
    text-align: center;
    padding: 32px;
  }
  .form {
    border-radius: 8px;
    overflow: hidden;
  }
  .option {
    padding: 16px 0;
  }
}

